apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
    name: allow-dns
    namespace: backtrade
spec:
    podSelector: {}
    policyTypes:
        - Egress
    egress:
        # Allow DNS resolution
        - to:
              - namespaceSelector:
                    matchLabels:
                        name: kube-system
          ports:
              - protocol: UDP
                port: 53
              - protocol: TCP
                port: 53
        # Allow access to API server
        - to:
              - namespaceSelector: {}
          ports:
              - protocol: TCP
                port: 443
