# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgresPassword
POSTGRES_DB=backtrade

# Cloudflare Tunnel
TUNNEL_TOKEN=

# Node Configuration
NODE_ENV=production
API_HOST=0.0.0.0
API_PORT=3000
API_LOG_LEVEL=info
API_LOG_DIR=./logs/

# Api Database Configuration
DATABASE_URL=postgresql://postgres:postgres@192.168.250.21:5432/backtrade?schema=public

# Api Redis Configuration
REDIS_HOST=192.168.250.22
REDIS_PORT=6379
REDIS_PASSWORD=redisPassword

# Security config
ACCESS_TOKEN_SECRET=d6588cd37b6c36e45d43d40bf74ce37cb0a6a74c53934b484cb375fe53cdf5fd
REFRESH_TOKEN_SECRET=8310a4958f39cad82de4294d0ca849fa5a25915356cda3fe89f099a8aab82d3d
ACCESS_TOKEN_EXPIRATION=1h
REFRESH_TOKEN_EXPIRATION=1d