# Node Configuration
NODE_ENV=development
API_HOST=0.0.0.0
API_PORT=21799
API_LOG_LEVEL=trace
API_LOG_DIR=./logs/
WORKER_LOG_LEVEL=trace
WORKER_LOG_DIR=./logs/

FRONTEND_URL=http://localhost:5173
NEUTRALIZE_EMAIL=true

DATABASE_URL=postgresql://postgres:postgresPassword@192.168.250.21:5432/backtrade?schema=public

# Api Redis Configuration
REDIS_HOST=192.168.250.22
REDIS_PORT=6379
REDIS_PASSWORD=redisPassword

# Security config
ACCESS_TOKEN_SECRET=d6588cd37b6c36e45d43d40bf74ce37cb0a6a74c53934b484cb375fe53cdf5fd
REFRESH_TOKEN_SECRET=8310a4958f39cad82de4294d0ca849fa5a25915356cda3fe89f099a8aab82d3d
ACCESS_TOKEN_EXPIRATION=1h
REFRESH_TOKEN_EXPIRATION=1d

# SMTP Configuration
SMTP_HOST=""
SMTP_PORT=""
SMTP_USER=""
SMTP_PASSWORD=""
SMTP_FROM=""

# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgresPassword
POSTGRES_DB=backtrade

# Minio Configuration
MINIO_ROOT_USER=minioUser
MINIO_ROOT_PASSWORD=minioPassword
MINIO_HOST=192.168.250.23
MINIO_PORT=9000
MINIO_USE_SSL=false

MINIO_USER=minioUser
MINIO_PASSWORD=minioPassword
MINIO_CA_CERT_PATH=./docker/config/minio/certs/public.crt

# RabbitMQ Configuration
RABBITMQ_DEFAULT_USER=rabbitmqUser
RABBITMQ_DEFAULT_PASS=rabbitmqPassword
RABBITMQ_USER=rabbitmqUser
RABBITMQ_PASSWORD=rabbitmqPassword
RABBITMQ_HOST=192.168.250.31
RABBITMQ_PORT=5672
RABBITMQ_QUEUE_NAME=backtrade-queue

# Clickhouse Configuration
CLICKHOUSE_DB=backtrade-db-ch
CLICKHOUSE_USER=clickHouseUser
CLICKHOUSE_PASSWORD=clickHousePassword
CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1

# Cloudflare Tunnel
TUNNEL_TOKEN=

