node_modules
dist
.env
.DS_Store
.turbo
**/coverage
.VSCodeCounter
# MinIO SSL certificates (should not be committed)
docker/config/minio/certs/*.crt
docker/config/minio/certs/*.key
!docker/config/minio/certs/.gitkeep