apiVersion: v1
kind: Service
metadata:
  name: backtrade-frontend
  namespace: backtrade
  labels:
    app: frontend
    component: web
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
  selector:
    app: frontend
    component: web
