/**
 * Home Page Styles
 */

.home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-principal);
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}
